#!/bin/bash

# Starts geth as background/forked process and pipes output to dev/null
geth --datadir "{{ geth_devchain_path }}/datadir" \
    --networkid {{ geth_devchain_id }} \
    --mine \
    --minerthreads=1 \
    --etherbase={{ geth_devaccounts[0] }} \
    --rpc \
    --rpcport "{{ geth_devrpc_port }}" \
    --rpcaddr "{{ geth_devrpc_ip }}" \
    --rpccorsdomain "{{ geth_devrpc_cors }}" \
    --rpcapi="db,eth,net,web3" \
    --gcmode=archive \
    --targetgaslimit="{{ geth_devchain_gaslimit }}" > /dev/null 2>&1 &
